<div class="jumbotron text-center">
    <h1>Welcome to RyDe.</h1>
    <h2>A ride sharing platform</h2>
    <br/><br/><br/>
    <h3>Usage</h3>
    <ol>
        <li>
            Need a ride: Click <strong>I need a RyDe</strong> then enter the details.
        </li>
        <li>
            Have a ride: Click <strong>I have a RyDe</strong> then enter the details.
        </li>
        <li>
            Approve rides: GO to <strong>my ride</strong> select the ride and accept enough passengers.
        </li>
        <li>
            Get Confirmation: Once the ride has been approved, you get a confirmation email.
        </li>
    </ol>
    <br/><br/><br/>
    <div class="col-sm-6 text-center">
        <a routerLink="/booking/add" class="btn btn-success">I need a RyDe</a>
    </div>
    <div class="col-sm-6 text-center">
        <a routerLink="/ride/add" class="btn btn-primary">I have a RyDe</a>
    </div>
</div>