<div class="col-full">
    <tool-bar  [title]='title' [back]='back' [edit]='edit' [remove]='remove'></tool-bar>
    <div class="col-lg-8">
        <div class="col-xs-12">
            <h3>{{item.user.name}}</h3>
        </div>
        <div class="col-xs-12 col-fit">
            <div class="col-sm-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Day</td>
                            <td> : </td>
                            <td>{{item.departure | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Capacity</td>
                            <td> : </td>
                            <td>{{item.capacity}} Pass</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Origin</td>
                            <td> : </td>
                            <td>{{item.origin}}</td>
                        </tr>
                        <tr>
                            <td>Destination</td>
                            <td> : </td>
                            <td>{{item.destination}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <tool-bar  [title]='bookingTitle'></tool-bar>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Date Booked</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookings">
                    <td>{{booking.user.name}}</td>
                    <td>{{booking.capacity}}</td>
                    <td>{{booking.created_at | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td class="text-center">
                        <span *ngIf="booking.status" class="fa fa-check text-success"></span>
                        <button *ngIf="!booking.status" class="btn btn-primary" (click)="approve(booking)">
                            Accept
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>   