<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron text-center">
        <h1>
            403
        </h1>
        <h3>
            Forbidden
        </h3>
        <p>
            You do not have permission to access the requested resource. 
            Contact your supervisor or the system Administrator for assistance.
        </p>
        <button class="btn btn-default" (click)="goBack()">
            <span class="fa fa-arrow-left"> Back</span>
        </button>
    </div>
</div>