<div class="col-sm-3">
    <form action="search/" method="get" role="search">
        <div class="form-group">
            <input class="form-control" type="text" name="q" placeholder="Search..."/>
            <div class="input-group-btn hidden">
                <button class="btn btn-default" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>
    <ul id="side-menu" class="list-group nav-stacked side-menu">
        <li *ngFor="let menu of menus()" [ngClass]="active(menu)" class="dropdown list-group-item">
            <a *ngIf="menu.items.length < 1" (click)="goTo(menu, menu)" >
                <i class="fa {{menu.icon}}"></i>
                {{menu.title}}
            </a>
            <a *ngIf="menu.items.length > 0" class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa {{menu.icon}}"></i>
                {{menu.title}}
                <span class="fa arrow"></span>
            </a>
            <ul *ngIf="menu.items.length > 0" class="dropdown-menu">
                <li *ngFor="let item of menu.items">
                    <a (click)="goTo(item, menu)" >
                        {{item.title}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>