<div class="col-full">
    <tool-bar  [title]='title' [back]='back'></tool-bar>
    <form class="col-md-6 col-fit" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="origin" class="control-label">Where will you be traveling from?</label>
            <input [(ngModel)]="item.ride.origin" type="text" class="form-control" name="origin" id="origin" placeholder="Origin" (ngModelChange)="filter()" required>
        </div>
        <div class="form-group">
            <label for="destination" class="control-label">Where will you be traveling to?</label>
            <input [(ngModel)]="item.ride.destination" type="text" class="form-control" name="destination" id="destination" placeholder="Destination" (ngModelChange)="filter()"  required>
        </div>
        <div class="form-group">
            <label for="capacity" class="control-label">How many passengers?</label>
            <input [(ngModel)]="item.capacity" type="number" class="form-control" name="capacity" id="capacity" placeholder="Capacity" min="1" (ngModelChange)="filter()"  required>
        </div>
        <div class="form-group">
            <label for="name" class="control-label">When will you be traveling?</label>
            <input [(ngModel)]="item.ride.departure" type="date" class="form-control" name="date" id="date" placeholder="YYYY/MM/DD" min="{{date | date:'yyyy/MM/dd'}}" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <span class="fa fa-save"> Book</span>
            </button>
            <button class="btn btn-default" type="button">
                <span class="fa fa-close"> Cancel</span>
            </button>
        </div>
    </form>
    <div class="col-md-6">
        <p>
            Please select your preferred ride.
        </p>
        <table id="ride-table" class="">
            <tbody>
                <tr *ngFor="let ride of filteredRides" (click)="item.ride_id= ride.id"  [ngClass]="selected(ride)">
                    <td class="box">
                        <span class="fa fa-cab fa-3x text-muted"></span>
                    </td>
                    <td class="box">
                        <div class="col-xs-12 col-fit">
                            <h3 class="col-xs-6 col-fit-left">
                                {{ride.user.name}}
                            </h3>
                            <h4 class="col-xs-6 text-right col-fit-right">
                                {{ride.departure | date:'dd/MM/yyyy'}}
                            </h4>
                        </div>
                        <h4 class="col-xs-12 col-fit text-muted">
                            {{ride.origin}} to {{ride.destination}}
                        </h4>
                    </td>
                    <td class="box">
                        <div class="col-full green">
                            <h3>{{ride.capacity - ride.booked}}<sub>/{{ride.capacity}} Pass</sub></h3>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>