html{
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    font-size: 12pt;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 40px;
    padding: 10px;
}
ul,ol{
    list-style: none;
}
li{
    display: block;
}
.bold{
    font-weight: bold;
}
.btns{
    border-radius: 0;
}
.col-fit{
    padding: 0;
    margin: 0;
}
.col-full{
    width: 100%;
}
.col-fit-right{
    padding-right: 0;
    margin-right: 0;
}
.col-fit-left{
    padding-left: 0;
    margin-left: 0;
}
.center-container{
    display: table;
    width: 100%;
    height: 100%;
}
.center{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.overlay-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
}
.navbar{
    margin: 0;
}
.navbar-default{
    border-radius: 0;
    border-color: rgba(0, 100, 0, 0.5);
}
.header-profile a.img{
    padding: 5px;
}
.header-profile img{
    height: 40px;
}
.navbar-shortcut li{
    display: inline-block;
}
.navbar-shortcut li:last-child {
  margin-right: 15px;
}
.navbar-shortcut li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-shortcut .dropdown-menu{
    font-size: medium;
}
.navbar-shortcut .dropdown-tasks,
.navbar-shortcut .dropdown-alerts{
    width: 300px;
    min-width: 0;
}
.navbar-shortcut .dropdown-menu li{
    display: block;
}
.navbar-shortcut .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.sidebar{
    
}
.sidebar .navbar-collapse {
    padding: 0;
}
.sidebar-search{
    padding: 15px;
}
.sidebar-nav > li{
    border-bottom: 1px solid;
    border-color: rgba(0, 100, 0, 0.5);
}
.sidebar-nav > li ul{
    padding-left: 20px;
}
@media (min-width: 768px) {
    .sidebar{
        position: fixed;
        min-height: 100%;
        border-right: 1px solid;
        border-color: rgba(0, 100, 0, 0.5);
    }
    main, .sidebar{
        padding-top: 51px;
        padding-bottom: 50px;
        clear: both;
    }
}
@media (max-width: 767px) {
    .content-main{
        padding-bottom: 55px;
    }
    .sidebar, .content-main{
        padding-top: 51px;
    }
}